/*
	Stylesheet for examples by DevHeart.
	http://devheart.org/

	Article title:	jQuery: Collapsible sidebar layout
	Article URI:	http://devheart.org/articles/jquery-collapsible-sidebar-layout/

	Example title:	2. Show, hide and toggle sidebar
	Example URI:	http://devheart.org/examples/jquery-collapsible-sidebar-layout/2-show-hide-and-toggle-sidebar/index.html
*/

/*
	Alignment
------------------------------------------------------------------- */
body{
	background: #E5E4E2;
}
/* Floats */

.left {float: left;}
.right {float: right;}

.clearer {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
	margin: 0 auto;
	width: 920px;
}


/* Content & sidebar */

#content,{
	border: 1px solid;
}
img{
	max-width: 100%;
}
h2{
	font-weight: 400;
}
h3{
	font-weight: 300;
}
.toggle-button{
	float: right;
	color: #ff6600;
	border: none;
	border: transparent;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	position: relative;
}
.home-button{
	float: left;
	color: #ff6600;
	border: none;
	border: transparent;
	text-align:center;
	vertical-align:middle;
	display: block;
	position: relative;
}

#sidebar {
	padding-top: 20px;
	color: #ff6600;
	display: none;
}
#content {
	margin-right: 0.5%;
	background-color: #ffffff;
}


/* side contents*/
.sidebar-inner-divs{
	margin-top: 20px;
	background: #ffffff;
}
.sidebar-voeg-div{
	margin-top: 20px;
}
.rechthoek-header{
	width: 100%;
	height: 30px;
	background: #ffffff;
	margin-bottom: 2px;
	position: relative;
	padding-left: 8px;
	font-weight: 400;
}
.rechthoek-content {
	background-color: rgb(255, 255, 255);
	position: relative;
	width: 100%;
	height: 130px;
	padding-left: 8px;
}
.rechthoek-footer{
	background-color: rgb(255, 255, 255);
	position: relative;
	width: 100%;
	padding: 0;
	bottom: 0;
	line-height: 35px;
}
.rechthoek-footer a{
	display: inline-block;
}
.bewerk-button{
	background: #ff6600;
	color: #ffffff;
	width: 40%;
	height: 35px;
	border: none;
	font-size: 16px;
	text-align: center;

}

.stel-mail-op{
	background: #ffffff;
	color: #ff6600;
	width: auto;
	height: 35px;
	border: none;
	padding-left: 30px;
	text-align: center;
    font-size: 16px;
}

.combineer{
	background: #ff6600;
	color: #ffffff;
	width: 100%;
	height: 35px;
	border: none;
	font-size: 16px;
	text-align: center;
}

.voeg-nottitie{
	text-align: center;
	position: relative;
	background: transparent;
	width: 200px;
	height: 70px;
	padding-left: 8px;
	padding-top: 50px;
}

.voeg-toe{
	background: none;
	font-size: 16px;
	border: none;
	color: #ff6600;
}


/*******************************************
Notitie
********************************************/

.notitie-panel {
	width:100%;
	height: 100%;
	position: absolute;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.0);
	top: 20px;
	bottom: 0;
	background: rgba(0, 0, 0, .09);;
	-webkit-transform: translateY(-110%);
	z-index: 2;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.notitie-panel:target{
	-webkit-transform: translateY(0%);
}

.notitie-panel-text-area{
	width: 100%;
	height: 200px;
	border: none;
}
.notitie-panel-save-btn{
	background: #ff6600;
	color: #ffffff;
	width: 100%;
	height: 35px;
	border: none;
	font-size: 16px;
	text-align: center;
}

.notitie-panel-bewerk-btn{
	background: #ffffff;
	color: #ff6600;
	width: 46%;
	height: 35px;
	font-size: 16px;
	text-align: center;
}

.notitie-panel-del-btn{
	background: #ff6600;
	color: #ffffff;
	width: 50%;
	height: 35px;
	border: none;
	font-size: 16px;
	text-align: center;
}



