*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(255, 102, 0);
    font-style: normal;
    overflow: hidden;
    background: #f9f8f6;
}
dt{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
    max-width: 100%;
}
i{
    font-weight: 200;
    font-size: 11px;
}
h4{
    font-weight: 400;
}
@font-face {
    font-family:'fontawesome';
    src: url(fontawesome-webfont.woff) format('woff');
    src: url(fontawesome-webfont.eot);
    src: url(fontawesome-webfont.ttf) format('truetype');
    src: url(fontawesome-webfont.svg) format('svg');
}
p{
    font-weight: 400;
}
.container{
    width: 100%;
    text-align: center;

}
.nav-container{
    padding-top: 100px;
    height: 50%;
}
.nav-container-onclick{
    padding-top: 20px;
    z-index: 2000;
    position: relative;
    transition: padding-top 1.5s ease ;
}
header{
    position: relative;
    padding-top: 2%;
    font-size: 300%;
    text-align: center;
}
#header{
    text-align: center;
}

.container-page-search{
    position: absolute;
    left: 250px;
    top: 0;
}
.container-page-other{
    text-align: center;
    position: absolute;
    left: 210px;
    top: 0;
}
ul .tabs{
    left: 610px;
}
.inner-container-page{
    margin-top: 150px;
    padding: 10px 0px 20px 0px;
}

.inner-container-page-folder{
    margin-top: 155px;
}

.container-page{
    position: absolute;
    left: 250px;
}
.container-page-helpdesk{
    text-align: center;
    position: absolute;
    left: 260px;
    top: 0;
}
.container-page-folder{
    position: absolute;
    left: 0;
}
.container-search{
    width: 100%;
    margin-top: 20px;
    float: left;

}
.container-result{
    width: 100%;
    margin-top: 20px;

}
.exp{
    width:80px;
    height:80px;
    border: solid 2px rgb(255, 102, 0);
    border-radius:100%;
    line-height:80px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    position: relative;
}
.exp-search{
    width:50px;
    height:50px;
    border: solid 2px rgb(255, 102, 0);
    border-radius:100%;
    line-height:65px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}
div a{
    padding: 5px;
}
.item {
    width:100%;
    height: 100%;
    position: absolute;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.0);
    background: transparent;
    bottom: 0;
    margin-left: -102%;
    z-index: 2;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.item:target{
    margin-left: 0%;
}

.badge {
    position:relative;
}
.badge[data-badge]:before {
    content:attr(data-badge);
    position:absolute;
    top: 2px;
    right: 3px;
    font-size:1.5em;
    background: #ff6600;
    color:#fff;
    width:28px;height:28px;
    text-align:center;
    line-height:26px;
    border-radius:50%;
    box-shadow:0 0 1px rgb(255, 102, 0);
}
nav ul a{
    padding-right: 15px;
}
#li-top-push{
    padding-top: 10%;
}

#nav-side-border{
    border-left: solid 1px #e0e0e0;
}

.home-index{
    float: right;
    margin: 0 100px 0 0;
}

.circle-icon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background: transparent;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 50px auto;
    -webkit-transition: all 2.5s ease;
    -moz-transition: all 2.5s ease;
    -o-transition: all 2.5s ease;
    transition: all 2.5s ease;
    color: #ff6600;
    position: relative;
}
.circle-icon-resize {
    width: 80px;
    height: 80px;
    line-height: 90px;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 50px auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: rgb(255, 102, 0);
    position: relative;
}

.circle-icon-resize:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(255,102,0,0.9);
    -moz-box-shadow: 0px 0px 15px rgba(255,102,0,0.9);
    box-shadow:  0px 0px 15px rgba(255,102,0,0.9);
}

/*----Vind jouw verzoek--*/
.input-border{
    font-size: 100%;
    width: 400px;
    height: 50px;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 25px;
    padding-left: 8px;
}
.submit{
    font-size: 100%;
    width: 150px;
    height: 50px;
    color: #ffffff;
    background: #ff6600;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 25px;
    margin-left: 8px;
}
.submit:target ~ #search-result{

}
::-webkit-input-placeholder {
    color:    rgb(255, 102, 0);
}
:-moz-placeholder {
    color:    rgb(255, 102, 0);
    opacity:  1;
}
::-moz-placeholder {
    color:    rgb(255, 102, 0);
    opacity:  1;
}
:-ms-input-placeholder {
    color:    rgb(255, 102, 0);
}

::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: rgb(255, 102, 0) }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: rgb(255, 102, 0) } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: rgb(255, 102, 0) } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: rgb(255, 102, 0) }

div ul.recent-gezocht li{
    font-size: 100%;
    width: auto;
    height: 25px;
    background: rgb(255, 102, 0);
    border-radius: 20px;
    padding: 8px;
    margin: 10px;
    display: inline-block;
    color: #ffffff;
    line-height: 25px;
}

.selected{
    background: #ff6600;
    color: #ffffff;
}

a{
    display: inline-block;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 102, 0);
    font-style: normal;
    text-decoration: none;
}
a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.recent-gezocht-div{
    padding-top: 20px;
    padding-left: 23%;
    float: left;
}

.float-left{
    float: left;
    padding: 10px;
}
/*end vind jouw verzoek*/
/*---Meeste gestelde vragen--*/

ul.tabs{
    margin: 0 0 50px 200px;
    padding: 0px;
    list-style: none;
    position: absolute;
}
ul.tabs li{
    background: none;
    color: #ff6600;
    display: inline-block;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ff6600;
    color: #ffffff;
    transition: background 2.2s ease;
}

.tab-content{
    display: none;
    padding: 15px;
    margin-top: 50px;
}

.tab-content.current{
    display: inherit;
}

.vraag{
    width: 550px;
    line-height: 30px;
    font-size: 14px;
    height: 30px;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 25px;
    margin: 10px;
}
.vraag-full{
    display: block;
    width: 500px;
    height: 80px;
    background: #ff6600;
    color: #ffffff;
    border-radius: 24px;
    position: relative;
    padding: 10px;
    margin-left: 35px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

/*---end--*/
/*---resultaten--*/
.resultaten-top{
    margin-top: 10px;
}
/*------mijnmap---*/
.icon{
    position: relative;
    display: inline-block;
}

.thumb{
    height: 350px;
    max-width: 100%;
    margin: 10px;
    z-index: 9;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.big {
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 400px;
    overflow: hidden;
    bottom: 0;
}


.big h3 {
    color: #ff6600;
}

.big span:before{
    color: #ffffff;
}

.big p {
    color: #ff6600;
    padding-bottom: 10px;
    font-weight: 300;
}


.big h3 {
    margin: 0;
    padding: 0;
    color: #ff6600;
}

.big a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100px;
    background: #ff6600;
    color: #fff;
}

.big {
    position: absolute;
    top: 410px;
    -webkit-transition: bottom 1.5s ease;
    -moz-transition: bottom 1.5s ease;
    -o-transition: bottom 1.5s ease;
    -ms-transition: bottom 1.5s ease;
    transition: bottom 1.5s ease;
}

/*.big img{
    float: left;
    height: 200px;
    margin: 0;
    padding: 0;
}*/

.featured {
    content: '';
    height: 200px;
    background: #ff6600;
    top: 270px;
    z-index: -3;
    width: 980px;
}


li:hover .thumb-small {
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 15px rgba(255,102,0,0.9);
    z-index: 5000;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.thumb-small{
    height: 320px;
    margin: 0 10px 10px 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.type{
    position: relative;
    top: -65px;
    left: 200px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 68px;
    vertical-align: middle;
    border-radius: 100%;
    background-color: #ff6600;
    color: #ffffff;
    cursor:pointer;
}

.content{
    overflow: hidden;
    position: relative;
    padding: 10px;
    background: #333;
    margin: 10px 0 75px 0;

    width: 1024px;
    height: auto;
}

.content li a{
    display: block;
}

/*.content li.current{
    -webkit-box-shadow: 0px 0px 15px rgba(255,102,0,0.9);
    -moz-box-shadow: 0px 0px 15px rgba(255,102,0,0.9);
    box-shadow:  0px 0px 15px rgba(255,102,0,0.9);
}*/

#content-1{
    padding: 10px 60px;
    background-color: transparent;
    width: 80%;
}
#content-1 .mTSButtonIcon{ fill: #aaa; }
#content-1 .mTSButton .mTSButtonIcon{ opacity: .5; }
#content-1 .mTSButton:hover .mTSButtonIcon{ opacity: 1; }
.content #white a{ border-color: #eee; }
.content #yellow a{ border-color: #f1db3f; }

/*----meer informatie preview----*/
.preview-div-1{
    float: left;
    height: 200px;
    width: 300px;
    margin: 10px;
    padding: 0;
    text-align: left;
}

.preview-div-2{
    float: left;
    height: 200px;
    width: 300px;
    margin: 10px;
    padding: 0;
    text-align: left;
}
.preview-div-3{
    float: left;
    height: 140px;
    width: 200px;
    margin: 10px;
    padding-top: 30px;
    text-align: center;
    padding-left: 50px;
}
/*----new scroller-------*/
.wrapper {
    position: absolute;
    top: 160px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 140%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.scroller li {
    display: block;
    float: left;
    max-width: 100%;
    max-height: 100%;
}
/*******Handlerbar css*******/
.description{
    width: 300px;
    height: auto;
    float: left;
}
.folio{
    top: 10px;
    width: auto;
    height: auto;
    float: left;
    margin: 15px;
}

.entry{
    left: 50px;
}
.download{
    width: 100px;
    height: 20px;
    text-align: center;
    border: solid 1px #ff6600;
    background: #ff6600;
    color: #ffffff;
    margin-right: 5px;
}

#view{
    width: 80px;
    height: 20px;
    text-align: center;
    border: solid 1px #ff6600;
    background: #ffffff;
    color: #ff6600;
}

.download-div{
    margin-top: 15px;
}
.big-container{
    z-index: 10;
    position: relative;
}

.open-folio{
    text-align: center;
    display: block;
    border: none;
    height: 30px;
    line-height: 30px;
    width: 100px;
    background: #ff6600;
    color: #fff;
}
/****Contact pagina****/
.verzend-btn{
    text-align: center;
    display: block;
    border: none;
    height: 30px;
    line-height: 30px;
    width: 100px;
    background: #ff6600;
    color: #fff;
}
#email{
    width: 200px;
    height: 30px;
    border: solid 1px #ff6600;
    color: #ff6600;
    background: #ffffff;
    margin: 10px;
}
.contact-header{
    margin: 20px;
}

.optie{
    width: 150px;
    height: auto;
    border: none;
}

