.bottom-menu{
    border-top: solid 1px #F2F2F0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-size: 1em;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.bottom-menu ul img{
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding-left: 5%;
    height: 100%;
    background-color: #fff;
}
.bottom-menu ul a li.selected{
    opacity: 1;
}

#onderdeel-right-float{
    font-size: 150%;
    float: right;
    padding-top: 1px;
}

.img-resize{
    height:auto;
    width:auto;
    max-width:300px;
    max-height:300px;
    padding-top: 5px;
    float: left;
}
.img-logo{
    padding-top: 5px;
    padding-right: 50px;
    float: right;
}
#nnn_logo{
    float: left;
}
#ing-footer-text{
    padding-top: 10px;
    padding-right:0;
    float: right;
    font-weight: 400;
}

/*---Footer rest van de pagina's-*/

.footer{
    border-top: solid 1px rgba(0,0,0,.1);
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 18px;
    color: #ff6600;
    background-color: #ffffff;
    text-align: center;
    left: 0;
    overflow: hidden;
}
/* helpdesk*/

.input-message{
    font-size: 100%;
    width: 250px;
    height: 50px;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 25px;
    padding-left: 10px;
}
.message-send-btn{
    width:50px;
    height:50px;
    background: #ffffff;
    color: #ff6600;
    border: solid 2px rgb(255, 102, 0);
    border-radius:100%;
    line-height:50px;
    text-align:center;
    margin-left: 5px;
    vertical-align:middle;
    display:inline-block;
    position: relative;
}
/*-----footer mijn map---*/
/*.footer-mijn-map{
    border-top: solid 1px rgba(0,0,0,.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #ff6600;
    background-color: #ffffff;
    text-align: center;
    left: 0;
    overflow: hidden;
}*/

.footer-1{
    border-top: solid 1px rgba(0,0,0,.1);
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 18px;
    color: #ff6600;
    background-color: #ffffff;
    text-align: center;
    left: 0;
    overflow: hidden;
}