<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <link rel="stylesheet" href="css/default.css" type="text/css" />
    <link rel="stylesheet" href="css/footer.css" type="text/css" />
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>

    <script type="text/x-handlebars-template" id="note-template">

        <div class="sidebar-inner-divs" data-note-id="{{msg}}">
            <div class="rechthoek-header">pag.2</div>
            <div id="text_content" class="rechthoek-content"><p></p></div>
            <button class="bewerk-button">bewerk</button>
            <button class="stel-mail-op">stel op mail</button>
        </div>

    </script>
</head>
<body>
<div>

        <div id="notitie-container">
        </div>
        <div class="sidebar-voeg-div">
            <div data-role="main" class="voeg-nottitie">
                <button class="voeg-toe"> <h4><i class="fa fa-dot-circle-o fa-2x"></i>   Voeg een notitie toe</h4></button>
            </div>
            <div class="rechthoek-footer">
                <button class="combineer" type="button">combineer en stel mail op</button>
            </div>
        </div>


        <div id="notitie" class="notitie-panel">
            <div>
                <form id='form' method="post">
                    <textarea name="note-body" id="note-body" class="pr-body notitie-panel-text-area" cols="30" rows="6"></textarea>
                    <div id="save-btn" class="notitie-panel-save-btn">Opslaan</div>
                </form>
            </div>
        </div>

        <div id="bewerk" class="notitie-panel">
            <div>
                <form id="bewerk-form" method="post">
                    <textarea name="note-body" id="note-body-edit" class="pr-body notitie-panel-text-area" cols="30" rows="6"></textarea>
                    <div class="rechthoek-footer">
                        <a id="save-btn-bewerk" class="notitie-panel-bewerk-btn">opslaan</a>
                        <a id="del-btn-bewerk" class="notitie-panel-del-btn">verwijderen</a>
                    </div>
                </form>
            </div>
        </div>
    <!--<div>
        <button id="modal-launcher">Launch Modal Window</button>

        <div id="modal-background"></div>
        <div id="modal-content">
            <button id="modal-close">Close Modal Window</button>
        </div>
    </div>-->

</div>

        <div class="clearer">&nbsp;</div>
<!-- JavaScript files -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="js/handlebars-v2.0.0.js"></script>
<script type="text/javascript" src="js/detail-script.js"></script>
</body>
</html>