<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NNN</title>
	<script src="js/AdobeLibraryAPI.js"></script>
	<link rel="stylesheet" href="css/default.css" type="text/css" />
	<link rel="stylesheet" href="css/footer.css" type="text/css" />
	<link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
	<script src="js/modernizr.custom.js"></script>
	<script type="text/javascript" src="js/build/iscroll.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">

		var myScroll;

		function loaded () {
			myScroll = new IScroll('.wrapper', {
				scrollX: true,
				scrollY: false,
				mouseWheel: true,
				click: true
			});
		}

		document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

	</script>
	<script id="entry-template" type="text/x-handlebars-template">
		<h4>resultaten voor: </h4>
		{{#issues}}
		<div class="entry" data-product-id="{{productId}}">
			<div class="folio">
				<img src="img/small/ing_help_small.png" alt="">
			</div>
			<div class="description">
				<h3>{{title}}</h3>
				{{description}}
				<div class="download-div"><a class="download"></a></div>
			</div>
		</div>
		{{/issues}}
	</script>
	<script type="text/x-handlebars-template" id="folio-template">
		{{#issues}}
		<li class="image" data-product-id="{{productId}}">

				<div class="icon">
					<img class="thumb" usemap="#img-map" src="img/ing_help_med.png">
					<div class="type"><i class="{{type}}"></i></div>
				</div>
				<map name="img-map">
					<area shape="circle" coords="0,0,0,0" alt="area des" href="#">
				</map>

		</li>
		{{/issues}}
	</script>
	<script type="text/x-handlebars-template" id="big-template">
      {{#notes}}
		<div class="big" data-product-id="{{productId}}">
			<div class="preview-div-1"><h3>Historie:</h3><span>Bijgewerkt op: {{date}}</span><p></p></div>
			<div class="preview-div-2"><h3>Meest recent:</h3><p>Notitie: {{text}}</p></div>
			<div class="preview-div-3"><button class="open-folio">OPEN</button></div>
		</div>
      {{/notes}}
	</script>
</head>
<body onload="loaded()">
 <!--home-->
			<div id="header">
				<header>
					Makkelijk verzekerd <i class="fa fa-smile-o"></i>
				</header>
				        <nav class="nav-container">
					                <a id="link-search" href="#search" class="panel"><div class="circle-icon"><i class="fa fa-search fa-2x"></i></div><p class="p">Vind jouw verzekering</p></a>
					                <a id="link-group" href="#group" class="panel"><div class="circle-icon"><i class="fa fa-group fa-2x"></i></div><p class="p">Meeste gestelde vragen</p></a>
					                <a id="link-helpdesk" href="#helpdesk" class="panel"><div class="circle-icon"><i class="fa fa-twitter fa-2x"></i></div><p class="p">Helpdesk</p></a>
					                <a id="link-contact" href="#contact" class="panel"><div class="circle-icon"><i class="fa fa-comments fa-2x"></i></div><p class="p">Contact</p></a>
					                <a><div><img class="border" src="img/border.png"></div></a>
					                <a id="link-folder" href="#folder" class="panel badge" data-badge="3"><div class="circle-icon"><i class="fa fa-folder-open fa-2x"></i></div><p class="p">Mijn map</p></a>
							        <a id="link-index" href="index.html" class="home-index"><div class="circle-icon-resize"><i class="fa fa-home fa-2x"></i></div></a>
				      </nav>
				      <div class="bottom-menu">
					               <ul>
						             <img class="img-resize" src="img/logo-nn.png">
						             <img class="img-logo" src="img/footer_logo.png">
					               </ul>
				      </div>
			</div>
		<!--Vind jouw verzekering pagina-->
		<div id="search" class="item">
			<div class="container-page-search">
				<div class="inner-container-page">
					<!--<form action="" method="post">-->
					<input class="input-border" id="search-input" type="search" placeholder="Stel een vraag of zoek..."><button id="search-btn" class="submit">Zoek</button>
					<!--</form>-->
					<div class="container-search">
						<div id="result-data">

						</div>
					  <div id="search-option-container">
						<div id="auto"><a href=""><div class="exp-search"><i class="fa fa-truck fa-2x"></i></div></a>Autoverzekering</div>
						<div id="reis"><a href=""><div class="exp-search"><i class="fa fa-plane fa-2x"></i></div></a>Reisverzekering</div>
						<div id="woon"><a href=""><div class="exp-search"><i class="fa fa-home fa-2x"></i></div></a>Woonverzekering</div>
						<div class="recent-gezocht-div">
							<h4>Recent gezocht: </h4>
							<ul class="recent-gezocht">
								<li>Lorem</li>
								<li>Dolorsitamet</li>
								<li>Ipsum</li>
							</ul>
						</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="footer"></div>
		</div>
		<!--meeste pagina-->
		<div id="group" class="item">
			<div class="container-page-other">
				<div class="inner-container-page">
					<ul class="tabs">
							<li class="tab-link current exp-search" data-tab="tab-1"><i class="fa fa-plane fa-2x"></i></li>
							<li class="tab-link exp-search" data-tab="tab-2"><i class="fa fa-truck fa-2x"></i></li>
							<li class="tab-link exp-search" data-tab="tab-3"><i class="fa fa-home fa-2x"></i></li>
					</ul>
					<div id="tab-1" class="tab-content current">
							<dl>
								<dt id="vraag-reis-een" class="vraag">Hoe kan ik de Doorlopende Reisverzekering aanvragen?</dt>
								<dd  id="vraag-reis-full-een" class="vraag-full">U kunt de Doorlopende Reisverzekering aanvragen via een onafhankelijk adviseur, online op onze website of telefonisch. Meer informatie vindt u op deze pagina.</dd>
								<dt id="vraag-reis-twee" class="vraag">Kan ik kinderen meeverzekeren op een Doorlopende Reisverzekering?</dt>
								<dd id="vraag-reis-full-twee" class="vraag-full">U kunt op de dag van uw vertrek nog een Doorlopende Reisverzekering afsluiten. Let wel: u bent pas verzekerd als wij een polisnummer hebben afgegeven. Meestal gebeurt dat op dezelfde dag.</dd>
								<dt id="vraag-reis-drie" class="vraag">Kan ik een kortlopende bijdekking afsluiten op mijn Doorlopende Reisverzekering?</dt>
								<dd id="vraag-reis-full-drie" class="vraag-full">Het is niet mogelijk om bijdekkingen (bijvoorbeeld een wintersportdekking) voor een korte duur af te sluiten. Bijdekkingen van de Doorlopende Reisverzekering moeten voor minimaal 1 jaar worden afgesloten.</dd>
								<dt id="vraag-reis-vier" class="vraag">Vanaf welke leeftijd mag ik een Doorlopende Reisverzekering afsluiten?</dt>
								<dd id="vraag-reis-full-vrie" class="vraag-full">Voor het afsluiten van een Doorlopende Reisverzekering moet u woonachtig zijn in Nederland.</dd>
							</dl>
					</div>
					<div id="tab-2" class="tab-content">
							<dl>
								<dt id="vraag-auto-een" class="vraag">Hoe kan ik een groene kaart voor mijn particuliere voertuig aanvragen?</dt>
								<dd id="vraag-auto-full-een" class="vraag-full">U kunt maximaal 6 auto's op dezelfde polis verzekeren.</dd>
								<dt id="vraag-auto-twee" class="vraag">Verschillen de premies van de Autoverzekering per regio?</dt>
								<dd id="vraag-auto-full-twee" class="vraag-full">De premie van de Autoverzekering wordt mede bepaald door uw postcode/huisnummer. De premie kan dus zelfs binnen dezelfde woonplaats verschillen.</dd>
								<dt id="vraag-auto-drie" class="vraag">Vanaf welke leeftijd kan de Autoverzekering worden afgesloten?</dt>
								<dd id="vraag-auto-full-drie" class="vraag-full">U kunt een Autoverzekering afsluiten voor regelmatige bestuurders vanaf 17 jaar.</dd>
								<dt id="vraag-auto-vier" class="vraag">Krijg ik korting op mijn Autoverzekering als ik mijn auto beveilig?</dt>
								<dd id="vraag-auto-full-vrie" class="vraag-full">Het beveiligen van uw auto is in sommige gevallen een voorwaarde voor acceptatie. Beveiligen levert geen extra korting op, ook niet bij vrijwillige beveiliging.</dd>
							</dl>
					</div>
					<div id="tab-3" class="tab-content">
							<dl>
								<dt id="vraag-wonen-een" class="vraag">Kan ik een offerte ontvangen voor een Opstalverzekering?</dt>
								<dd id="vraag-wonen-full-een" class="vraag-full">U kunt in deze App de productwijzer downloaden, bekijken en gelijk een offerte aanvragen. Zodra de offerte gereed is, kunt u hem in deze App vinden in 'Mijn Map'.</dd>
								<dt id="vraag-wonen-twee" class="vraag">Hoe is Nationale-Nederlanden te bereiken?</dt>
								<dd id="vraag-wonen-full-twee" class="vraag-full">Wilt u e-mailcontact? Vul dan het e-mailformulier in. Zo neemt de juiste afdeling zo snel mogelijk contact met u op. Onze contactgegevens, zoals telefoonnummers en adresgegevens, vindt u op onze contactpagina.</dd>
								<dt id="vraag-wonen-drie" class="vraag">Wat betekent het oversluiten van een hypotheek?</dt>
								<dd id="vraag-wonen-full-drie" class="vraag-full">U sluit een hypotheek over als u een hypotheek aflost bij de ene aanbieder en daarna een hypotheek afsluit bij een andere aanbieder. Meer informatie vindt u op uw hypotheek oversluiten.</dd>
								<dt id="vraag-wonen-vier" class="vraag">Hoe lang kan een bouwdepot lopen?</dt>
								<dd id="vraag-wonen-full-vrie" class="vraag-full">Vanaf het moment dat het geopend is, heeft een verbouwingsdepot een maximale looptijd van 6 maanden. Heeft u een nieuwbouwdepot? Vanaf het moment dat het nieuwbouwdepot is geopend, mag deze maximaal 24 maanden lopen.</dd>
							</dl>
					</div>
				        <!-- /content -->
			     </div>
			</div>
			<div class="footer">Geen antwoord op jouw vraag?</div>
		</div>
		<!--helpdesk pagina-->
		<div id="helpdesk" class="item">
			<div class="container-page-helpdesk">
				<div class="inner-container-page">
                        <img src="img/chat.svg" alt="ing chat">
				</div>
			</div>
			<div class="footer">
				<input class="input-message" type="search" placeholder="Stel een vraag..."><button id="send" class="message-send-btn" type="button"><i class="fa fa-pencil"></i></button>
			</div>
		</div>
		<!--Contact pagina-->
		<div id="contact" class="item">
					<div class="container-page">
						<!--<div class="inner-container-page-folder">
							<h3 class="contact-header">Maak snel en eenvoudig een aanvraag</h3>
							<form action="">
								<select class="optie">
									<option value="volvo">Offerte</option>
									<option value="saab">Afspraak</option>
									<option value="mercedes">Advies</option>
									<option value="audi">Lorem</option>
								</select><br>
								<input id="email" type="text" placeholder="e-mail adres..."><br>
								<textarea rows="10" cols="30"></textarea>
								<button class="verzend-btn">Verzend</button>
							</form>
						</div>-->
					</div>
			<div class="footer"></div>
		</div>
        <!--mijn map pagina-->
		<div id="folder" class="item">
			<div class="">
				<div class="inner-container-page-folder">
					<div class="wrapper">
						<div class="scroller">
						   <ul class="scroller-inner">
							   <!-- folios goes here -->
						   </ul>
						</div>
					</div>
					<div class="big-container">
						<!-- folios detail goes here -->
					</div>
				</div><!-- /container -->
			<div class="footer-1"><h4>Klik op voorpagina voor meer informatie</h4></div>
		</div>
			</div>

 <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
 <script src="js/fastclick.min.js"></script>
 <script src="js/handlebars-v2.0.0.js"></script>
 <script src="js/main.js"></script>
<!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js#startOpened=true"></script>-->
</body>
</html>